@{
    ViewData["Title"] = "List Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Shipping Information List Page</h1>
</div>


<div class="card-body">
    <form class="mb-15" id="frmFilter">
       
    </form>
    <table id="dtList" class="table table-bordered table-hover table-checkable dataTable dtr-inline">
        <thead>
            <tr>
                <th>Mode</th>
                <th>Movement Type</th>
                <th>Incoterms</th>
                <th>Country</th>
                <th>City</th>
                <th>PackageType</th>
                <th>Unit-1</th>
                <th>Unit-2</th>
                <th>Currency</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/ShippingInfo/ShippingList.js?v@(System.IO.File.GetLastWriteTime(@"wwwroot/Scripts/ShippingInfo/ShippingList.js").Ticks.ToString())"></script>
}
